<h2>Адмін-панель</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="AdminProducts" asp-action="Index">
            Керування товарами
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="AdminOrders" asp-action="Index">
            Керування замовленнями
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="AdminCategories" asp-action="Index">
            Керування категоріями
        </a>
    </li>
</ul>
